* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#memory,
#temperature,
#disk,
#custom-label,
#workspaces
#custom-bluetooth
{
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    margin-left: 3px;
    border-radius: 10px;
    border: 0.5px solid #3b3f42;
}

#disk,
#temperature,
#memory,
#cpu,
#pulseaudio,
#clock,
#network
#custom-bluetooth
{
    color: #7FBF7F;

}

#custom-label {
    color: #88c0d0;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    margin-left: 3px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

#workspaces {
    color: #e0e0e0;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    margin-right: 3px;
    margin-left: 0px;
    min-width: 10px;
    padding-right: 0px;
    padding-left: 0px;
}

#window {
    color: #4c8baf;
}

#workspaces button {
    padding: 5px 15px 5px 5px;
    margin-left: 3px;
    margin-right: 3px;
    color: #d8cfc4
    /*color: #636475;*/
}

#workspaces button.visible {
    color: #d8b59f;
}

#workspaces button.active {
    color: #f4a261;
    border-color: #a39ec4;
}

#workspaces button.urgent {
    color: @red;
    border-radius: 10px;
}

#workspaces button.hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}
